<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Document</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Contact Genie</h1>
			<p>Streamline your contacts with our web app. Organize and access them with ease. Upgrade your contact
				management game today!</p>
			<button class="btn btn-lg btn-primary bg-sky text-white">Get Start</button>
		</div>
	</section>
</body>

</html>